@import "partials";
@import "mixins";

body {
	background-color: $background-base;
}

#rule {
	height: 78px;
	border-bottom: 3.73px solid $primary-color;
}

#landingPage {
	min-width: 342px;
}

.menuBtn {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 1em;
	vertical-align: middle;
	z-index: 99;
	img {
		display: block;
		width: 59px;
		height: 38px;
		margin: 4px 0;
		z-index: 99;
	}
}

.responsiveMenu {
	display: none;
}

.expand {
	display: block;
}

.menu {
	visibility: hidden;
	display: none;
}

#info {
	padding: 0 5% 0 5%;
}

#courierOne, #courierTwo, #courierThree {
	@include courier(580px, both, -98px, 0 60px 0 -40px);
	img {
		width: 360px;
	}
}

#courierTwo, #courierThree {
	margin: 0 60px 0 -16px;
}

#bodyCopy {
	background-color: $primary-color;
	border-radius: 6px;
	margin-top: -20px;
	margin-bottom: -80px;
	p {
		font-family: $secondary-font;
		font-style: $light;
		font-size: 1em;
		line-height: 1.125em;
		color: $background-base;
		padding: 16px 16px 20px 24px;
	}
}

br {
	line-height: 225%;
}

#console {
	margin: 0 auto;
	padding: 0 5% 0 5%;
}

.logoLockupIndex, .logoLockup {
	img {
		width: 174px;
		margin: 0;
		float: left;
	}
	p {
		font-family: $primary-font;
		font-weight: $bold;
		font-size: 2.275em;
		margin: 0 0 0 -.75em;
		padding-top: 2.125em;
		display: inline-block;
		a {
			color: $primary-color;
			text-decoration: none;
			transition: color 2s;
			&:hover {
				color: $secondary-dark;
			}

		}
	}
}

.logoLockupIndex {
	margin: -72px 0 6px 5%;
}

.logoLockup {
	margin: -72px 0 6px 0;
}

.viewscreen {
	border: 3.73px solid $primary-color;
	border-radius: 9px;
	height: 480px;
	clear: left;
	margin-top: 36px;
	padding: 0;
	.map {
		height: 360px;
		background-color: #9A9A9A;
		margin: 5px 4px 0 4px;
		border-radius: 7px 7px 0 0;
		padding: 0 5px 5px 0;
		box-sizing: border-box;
	}
		iframe {
			height: 100%;
			width: 100%;
			border-radius: 7px 7px 0 0;
		}
	.trackingFeed{
		height: 110px;
		background-color: $secondary-dark;
		margin: 0 4px 0 4px;
		border-radius: 0 0 7px 7px;
		padding: 5px 0 5px 0;
		box-sizing: border-box;
	}
}

.logoLockupIndex {
	margin: -72px 0 6px 5%;
}

.logoLockup {
	margin: -72px 0 6px 0;
}

.viewscreen {
	border: 3.73px solid $primary-color;
	border-radius: 9px;
	height: 480px;
	clear: left;
	margin-top: 36px;
	padding: 0;
	.map {
		height: 360px;
		background-color: #9A9A9A;
		margin: 5px 4px 0 4px;
		border-radius: 7px 7px 0 0;
		padding: 0 5px 5px 0;
		box-sizing: border-box;
	}
		iframe {
			height: 100%;
			width: 100%;
			border-radius: 7px 7px 0 0;
		}
	.trackingFeed{
		height: 110px;
		background-color: $secondary-dark;
		margin: 0 4px 0 4px;
		border-radius: 0 0 7px 7px;
		padding: 5px 0 5px 0;
		box-sizing: border-box;
	}
}

.buttons {
	margin: 16px auto;
	.buttonClient, .buttonCourier {
		@include twoborderbtn(60px, 130px, 0, 0, 9px, 3.73px solid $primary-color);
		p {
			font-family: $primary-font;
			font-weight: $regular;
			font-size: 1.75em;
			text-align: center;
			vertical-align: middle;
			color: $background-base;
			background-color: $primary-color;
			margin: 4px 4px 0 4px;
			border-radius: 7px;
			padding: 6px 0 6px 0;
			a {
				color: $background-base;
				text-decoration: none;
			}
			&:hover {
				background-color: $secondary-light;
				color: #FFF;
			}
		}
	}
	.buttonClient {
		float: left;
	}
	.buttonCourier {
		float: right;
	}

}

footer {
	margin-top: 98px;
	/*width: 100%;*/
	background-color: $primary-color;
	clear: both;
	p {
		font-size: 1em;
		text-align: center;
		color: $background-base;
		padding-top: 1em;
		margin: 0;
	}
	#linksSocial {
		text-align: center;
		margin: 0;
		img {
			height: 30px;
			margin: 12px 6px 16px 6px;
		}
	}
}


/* 742px BREAKPOINT */


@media (min-width: 742px) {
	.menu {
		visibility: visible;
		list-style-type: none;
		display: block;
		float: right;
		margin: 24px 5% 0 0;
		li {
			font-family: "Oswald", sans-serif;
			font-weight: 400;
			size: 1em;
			width: 90px;
			height: 20px;
			display: inline-block;
			background-color: $primary-color;
			text-align: center;
			padding: .125em 0 .25em 0;
			border-radius: 6px;
			margin: 0 .5em 0 0;
			transition: background-color 0.75s, color 1.5s;
			a {
				color: $background-base;
				text-decoration: none;
				&:hover {
					color: #FFF;
				}
			}
		}
		li:hover {
			background-color: $secondary-light;
		}
	}
	#courierOne, #courierTwo, #courierThree {
		float: left;
	}


	#courierOne {
		margin: 0 0 -4px -180px;
		img {
			width: 540px;
		}
	}

	#courierTwo {
		margin: 0 -140px -4px -40px;
		img {
			width: 540px;
		}
	}

	#courierThree {
		margin: 0 -70px -4px -40px;
		img {
			width: 480px;
		}
	}

	#bodyCopy {
		margin-top: 40px;
		p {
			padding: 20px 20px 26px 0;
			line-height: 1.25em;
		}
	}
}


/* 768px BREAKPOINT */


@media (min-width: 768px) {
	footer {
		padding: 12px 5% 0 5%;
		p {
			text-align: left;
			float: left;
		}
		#linksSocial {
			text-align: right;
		}
	}
}


/* 1024px BREAKPOINT */


@media (min-width: 1024px) {
	#console {
		max-width: 909px;
	}
	/*#linksSocial {
		max-width: 909px;
	}*/

}

